<div class="navbar-container">
  <span class="material-symbols-outlined menu" (click)="toggleSidebarMobile()">
    menu
  </span>
  <div class="options-desktop">
    <span class="material-symbols-outlined">
      chat
    </span>
    <span class="material-symbols-outlined">
      check_box
    </span>
  </div>
  <div class="navbar-options">
    <span class="material-symbols-outlined">
      notifications
    </span>
    <div class="user-image">
      <img src="assets/user_default.png" alt="">
      <div class="status"></div>
    </div>
  </div>
</div>
